body {
  display: flex;
  background: black;
  flex-direction: column;
  align-items: center;
  color: white;
}

a {
  color: purple;
}

a:hover {
  cursor: pointer;
}

img {
  margin: 40px 0 40px 0;
}

input {
  border-radius: 5px;
  height: 100%;
  text-align: center;
}

.input {
  margin: 0 5px 0 5px;
}

.url-input {
  width: 300px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder-name-container {
  display: flex;
  justify-content: center;
}

.add-folder {
  margin: 10px 0 10px 0;
}

.inline {
  display: inline-block;
}

button, .submit {
  background: rgb(85, 117, 237);
  border-radius: 5px;
  margin: 0 3px 0 3px;
}

.folder-container {
  width: 480px;
  margin: 0 0 15px 0;
  align-items: center;
  flex-grow: 1;
}

.folder-buttons {
  display: flex;
  justify-content: center;
}

.folder-sort {
  margin: 0 10px 0 10px;

}

.folder-list {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.urls {
  margin: 0 0 0 15px;
}

tr {
  height: 50px;
}

td {
  padding: 0 10px 0 0;
}

.folder-name {
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 20px 0;
  color: rgb(85, 117, 237);
}
