body {
  display: flex;
  background: black;
  flex-direction: column;
  align-items: center;
  color: white;
}

a {
  color: blue;
}

a:hover {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.folder-container {
  display: inline-block;
}

.urls {
  margin-left: 15px;
}

.folder-name {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
}
